<table width="100%" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td class="content-block" style=" padding: 0 0 20px;" valign="top">
      {{ host_email }} recently authorized you to <b>{{ permission }}</b> their {{ object_shared }} with {{product_name}}.
    </td>
  </tr>
  <tr>
    <td class="content-block" style=" padding: 0 0 20px;" valign="top">
      You can do so by using your guest link <a href="https://{{server_name}}{{ guest_path }}">{{server_name}}{{ guest_path }}</a>.
    </td>
  </tr>
  <tr>
    <td class="content-block" style=" padding: 0 0 20px;" valign="top">
      Happy viewing,<br>
      &#8212; The {{product_name}} Team
    </td>
  </tr>
  </tbody>
</table>
