<table width="100%" cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td class="content-block" style=" padding: 0 0 20px;" valign="top">    
	The link <a href="https://{{server_name}}/c/{{view_token}}">{{title}}</a> has been saved
	{{#guest_email}}
		by your Guest {{guest_email}}
	{{/guest_email}}.
	If you want to share it, just give people this link:
	<br/><br/>
	<a href="https://{{server_name}}/c/{{view_token}}">{{server_name}}/c/{{view_token}}</a>
	</td>
  </tr>
  <tr>
	<td class="content-block" style=" padding: 0 0 20px;" valign="top">
	You can always view or delete the {{shared_clip_name}}s you have saved on 
	<a href="https://{{server_name}}/camios/">this page</a>.
    </td>
  </tr>
  <tr>
    <td class="content-block" style=" padding: 0 0 20px;" valign="top">
      Happy viewing,<br>
      &#8212; The {{product_name}} Team
    </td>
  </tr>
  </tbody>
</table>
